<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <title>ایجاد فروش</title>
</head>

<body class="container mt-5">

    <h2>ایجاد فروش جدید</h2>

    <form method="POST">
        {% csrf_token %}

        <label>مشتری:</label>
        <select name="customer">
            {% for c in customers %}
                <option value="{{ c.id }}">{{ c }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label>کارمند:</label>
        <select name="employee">
            {% for e in employees %}
                <option value="{{ e.id }}">{{ e }}</option>
            {% endfor %}
        </select>

        <br><br>

        <button type="submit">ثبت فروش</button>
    </form>

</body>
</html>