<!-- add_purchase.html -->
{% extends 'core/base.html' %}

{% block title %}ثبت خرید{% endblock %}

{% block content %}

<div class="card shadow-sm border-0">

    <div class="card-body">

        <h3 class="mb-4">
            ثبت خرید جدید
        </h3>

        <form method="POST">

            {% csrf_token %}

            <label class="form-label">تامین‌کننده</label>

            <select name="supplier" class="form-control mb-3">

                {% for supplier in suppliers %}

                    <option value="{{ supplier.id }}">
                        {{ supplier.company_name }}
                    </option>

                {% endfor %}

            </select>

            <label class="form-label">کارمند</label>

            <select name="employee" class="form-control mb-3">

                {% for employee in employees %}

                    <option value="{{ employee.id }}">
                        {{ employee }}
                    </option>

                {% endfor %}

            </select>

            <label class="form-label">سنگ</label>

            <select name="stone" class="form-control mb-3">

                {% for stone in stones %}

                    <option value="{{ stone.id }}">
                        {{ stone.name }}
                    </option>

                {% endfor %}

            </select>

            <label class="form-label">تعداد</label>

            <input type="number" name="quantity" class="form-control mb-3">

            <button type="submit" class="btn btn-success">
                ثبت خرید
            </button>

        </form>

    </div>

</div>

{% endblock %}