<!-- add_sale.html -->
{% extends 'core/base.html' %}

{% block title %}ثبت فروش{% endblock %}

{% block content %}

<div class="card shadow-sm border-0">

    <div class="card-body">

        <h3 class="mb-4">
            ثبت فروش جدید
        </h3>

        <form method="POST">

            {% csrf_token %}

            <label class="form-label">مشتری</label>

            <select name="customer" class="form-control mb-3">

                {% for customer in customers %}

                    <option value="{{ customer.id }}">
                        {{ customer.person }}
                    </option>

                {% endfor %}

            </select>

            <label class="form-label">فروشنده</label>

            <select name="employee" class="form-control mb-3">

                {% for employee in employees %}

                    <option value="{{ employee.id }}">
                        {{ employee }}
                    </option>

                {% endfor %}

            </select>

            <button type="submit" class="btn btn-primary">
                ادامه ثبت فروش
            </button>

        </form>

    </div>

</div>

{% endblock %}