<!DOCTYPE html>
<html lang="fa">

<head>

    <meta charset="UTF-8">

    <title>ثبت خرید</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="container mt-5">

<h2>ثبت خرید</h2>

<form method="POST">

    {% csrf_token %}

    <label>تامین کننده:</label>

    <select name="supplier" class="form-control">

        {% for supplier in suppliers %}

            <option value="{{ supplier.id }}">

                {{ supplier }}

            </option>

        {% endfor %}

    </select>

    <br>

    <label>کارمند:</label>

    <select name="employee" class="form-control">

        {% for employee in employees %}

            <option value="{{ employee.id }}">

                {{ employee }}

            </option>

        {% endfor %}

    </select>

    <br>

    <label>سنگ:</label>

    <select name="stone" class="form-control">

        {% for stone in stones %}

            <option value="{{ stone.id }}">

                {{ stone.name }}

            </option>

        {% endfor %}

    </select>

    <br>

    <label>تعداد:</label>

    <input type="number" name="quantity" class="form-control">

    <br>

    <button type="submit" class="btn btn-success">

        ثبت خرید

    </button>

</form>

</body>

</html>