<!-- customer_list.html -->
{% extends 'core/base.html' %}

{% block title %}مشتریان{% endblock %}

{% block content %}

<div class="d-flex justify-content-between mb-3">

    <h3>لیست مشتریان</h3>

    <a href="{% url 'add_customer' %}" class="btn btn-success">
        افزودن مشتری
    </a>

</div>

<table class="table table-bordered">

    <thead class="table-dark">

        <tr>
            <th>ID</th>
            <th>نام</th>
            <th>کد مشتری</th>
            <th>عملیات</th>
        </tr>

    </thead>

    <tbody>

        {% for customer in customers %}

        <tr>

            <td>{{ customer.id }}</td>

            <td>{{ customer.person }}</td>

            <td>{{ customer.customer_code }}</td>

            <td>

                <a href="{% url 'edit_customer' customer.id %}" class="btn btn-warning btn-sm">
                    ویرایش
                </a>

                <a href="{% url 'delete_customer' customer.id %}" class="btn btn-danger btn-sm">
                    حذف
                </a>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}