<!-- person_list.html -->
{% extends 'core/base.html' %}

{% block title %}اشخاص{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h2 class="fw-bold">
        لیست اشخاص
    </h2>

    <a href="{% url 'add_person' %}" class="btn btn-dark">
        <i class="bi bi-plus-circle"></i>
        افزودن شخص
    </a>

</div>

<div class="card border-0 shadow-lg">

    <div class="card-body p-0">

        <table class="table table-hover align-middle mb-0">

            <thead class="table-dark">

                <tr>
                    <th>ID</th>
                    <th>نام</th>
                    <th>شماره تماس</th>
                    <th>آدرس</th>
                    <th>عملیات</th>
                </tr>

            </thead>

            <tbody>

                {% for person in persons %}

                <tr>

                    <td>{{ person.id }}</td>

                    <td>
                        {{ person.first_name }}
                        {{ person.last_name }}
                    </td>

                    <td>{{ person.phone }}</td>

                    <td>{{ person.address }}</td>

                    <td>

                        <a href="{% url 'edit_person' person.id %}" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil-square"></i>
                        </a>

                        <a href="{% url 'delete_person' person.id %}" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i>
                        </a>

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}