<!-- purchase_list.html -->
{% extends 'core/base.html' %}

{% block title %}خریدها{% endblock %}

{% block content %}

<div class="d-flex justify-content-between mb-3">

    <h3>فاکتورهای خرید</h3>

    <a href="{% url 'add_purchase' %}" class="btn btn-success">
        ثبت خرید
    </a>

</div>

<table class="table table-bordered">

    <thead class="table-dark">

        <tr>
            <th>ID</th>
            <th>تامین‌کننده</th>
            <th>تاریخ</th>
            <th>مبلغ کل</th>
        </tr>

    </thead>

    <tbody>

        {% for purchase in purchases %}

        <tr>

            <td>{{ purchase.id }}</td>

            <td>{{ purchase.supplier }}</td>

            <td>{{ purchase.purchase_date }}</td>

            <td>{{ purchase.total_amount }}</td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}