<!-- stone_list.html -->
{% extends 'core/base.html' %}

{% block title %}سنگ‌ها{% endblock %}

{% block content %}

<div class="d-flex justify-content-between mb-3">
    <h3>لیست سنگ‌ها</h3>

    <a href="{% url 'add_stone' %}" class="btn btn-primary">
        افزودن سنگ
    </a>
</div>

<table class="table table-bordered table-hover">

    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>نام</th>
            <th>موجودی</th>
            <th>عملیات</th>
        </tr>
    </thead>

    <tbody>

        {% for stone in stones %}

        <tr>
            <td>{{ stone.id }}</td>
            <td>{{ stone.name }}</td>
            <td>{{ stone.stock }}</td>

            <td>

                <a href="{% url 'edit_stone' stone.id %}" class="btn btn-warning btn-sm">
                    ویرایش
                </a>

                <a href="{% url 'delete_stone' stone.id %}" class="btn btn-danger btn-sm">
                    حذف
                </a>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}