<!-- supplier_list.html -->
{% extends 'core/base.html' %}

{% block title %}تامین‌کنندگان{% endblock %}

{% block content %}

<div class="d-flex justify-content-between mb-3">

    <h3>لیست تامین‌کنندگان</h3>

    <a href="{% url 'add_supplier' %}" class="btn btn-primary">
        افزودن تامین‌کننده
    </a>

</div>

<table class="table table-bordered">

    <thead class="table-dark">

        <tr>
            <th>ID</th>
            <th>نام شرکت</th>
            <th>عملیات</th>
        </tr>

    </thead>

    <tbody>

        {% for supplier in suppliers %}

        <tr>

            <td>{{ supplier.id }}</td>

            <td>{{ supplier.company_name }}</td>

            <td>

                <a href="{% url 'edit_supplier' supplier.id %}" class="btn btn-warning btn-sm">
                    ویرایش
                </a>

                <a href="{% url 'delete_supplier' supplier.id %}" class="btn btn-danger btn-sm">
                    حذف
                </a>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}